<%- include('head'); -%>
<%- include('sidebar') -%>
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <div class="card-body p-0">
                <div class="bs-stepper">
                  <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Add Lorry</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <form method="post">@csrf
                    <div id="logins-part" class="row" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="col-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name" name="name">
                      </div>
                      </div>
                      <div class="col-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Mobile</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile" name="phone">
                      </div>
                      </div>
                      <div class="col-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" name="email">
                      </div>
                      </div>
                      <div class="col-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">City</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City" name="city">
                      </div>
                      </div>
                      <div class="col-12">
                      <div class="form-group">
                        <label for="exampleInputPassword1">User type</label>
                        <select name="user_type" class="form-control">
                            <option value="">Choose User type</option>
                            <option value="2">lorry Owner</option>
                            <option value="1">Load Owner</option>
                            <option value="2">Transporter</option>
                        </select>
                      </div>
                      </div>
                      <div class="col-12">
                          <label for="exampleInputPassword1">&nbsp;</label>
                      <button class="btn btn-primary form-control" type="submit">Add User</button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  @include('foot')