<%- include('head'); -%>
<%- include('sidebar') -%>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Welcome Admin!</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="p-3 d-flex justify-content-around flex-row align-items-center" 
                style="background: #F7F8F9;border: solid 2px #d7d7d7;border-radius: 10px;">
                    <div style="background: #068B92; border-radius: 15px; width: 50px;
                    height: 50px; display: flex; justify-content: center; align-items: center;">
                      <img src="icon/users.svg">
                    </div>
                    <div>
                      <p class="m-0 p-0 text-right">Total Users</p>
                      <h1 class="m-0 p-0">75000</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="p-3 d-flex justify-content-around flex-row align-items-center" 
                style="background: #F7F8F9;border: solid 2px #d7d7d7;border-radius: 10px;">
                    <div style="background: #F16A1B; border-radius: 15px; width: 50px;
                    height: 50px; display: flex; justify-content: center; align-items: center;">
                      <img src="icon/Profile.svg">
                    </div>
                    <div>
                      <p class="m-0 p-0 text-right">Total Experts</p>
                      <h1 class="m-0 p-0">75000</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="p-3 d-flex justify-content-around flex-row align-items-center" 
                style="background: #F7F8F9;border: solid 2px #d7d7d7;border-radius: 10px;">
                    <div style="background: #068B92; border-radius: 15px; width: 50px;
                    height: 50px; display: flex; justify-content: center; align-items: center;">
                      <img src="icon/users.svg">
                    </div>
                    <div>
                      <p class="m-0 p-0 text-right">Total Users</p>
                      <h1 class="m-0 p-0">75000</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="p-3 d-flex justify-content-around flex-row align-items-center" 
                style="background: #F7F8F9;border: solid 2px #d7d7d7;border-radius: 10px;">
                    <div style="background: #068B92; border-radius: 15px; width: 50px;
                    height: 50px; display: flex; justify-content: center; align-items: center;">
                      <img src="icon/users.svg">
                    </div>
                    <div>
                      <p class="m-0 p-0 text-right">Total Users</p>
                      <h1 class="m-0 p-0">75000</h1>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
    </section>
  </div>
  <%- include('foot') -%>