<%- include('head'); -%>
<%- include('sidebar') -%>
    

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Welcome Admin!</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card bg-default p-2" style="display: flex; align-items: center;">
                    <h4 class="m-0 p-0"><i class="fa fa-plus"></i></h4>
                    <h5 class="m-0 p-0">Add truck owner</h5>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card bg-danger p-2" style="display: flex; align-items: center;">
                    <h4 class="m-0 p-0"><i class="far fa-eye"></i></h4>
                    <h5 class="m-0 p-0">Truck owners</h5>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card bg-default p-2" style="display: flex; align-items: center;">
                    <h4 class="m-0 p-0"><i class="fa fa-plus"></i></h4>
                    <h5 class="m-0 p-0">Add Supplier</h5>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card bg-blue p-2" style="display: flex; align-items: center;">
                    <h4 class="m-0 p-0"><i class="far fa-eye"></i></h4>
                    <h5 class="m-0 p-0">Suppliers</h5>
                </div>
            </div>
            <!--<div class="col-6 col-md-4 col-lg-2">-->
            <!--    <div class="card bg-default p-2" style="display: flex; align-items: center;">-->
            <!--        <h4 class="m-0 p-0"><i class="fa fa-plus"></i></h4>-->
            <!--        <h5 class="m-0 p-0">Add truck owner</h5>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="col-6 col-md-4 col-lg-2">-->
            <!--    <div class="card bg-gray p-2" style="display: flex; align-items: center;">-->
            <!--        <h4 class="m-0 p-0"><i class="far fa-eye"></i></h4>-->
            <!--        <h5 class="m-0 p-0">Add supplier</h5>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
      </div>
    </section>
  </div>
  <%- include('foot') -%>