<aside class="main-sidebar sidebar-light-danger pl-3 pr-3" style="background-color:#F7F8F9;">
    <div style="display: flex;justify-content: center;align-items: center;height: 7rem;">
      <img src="/logo.svg" alt="LoadingWalla Logo" class="brand-image" style="opacity: 1">
    </div>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-collapse-hide-child" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item pt-1 pb-1">
                <a href="/admin" class="nav-link active">
                  <img src="/icon/Category.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="#" class="nav-link pl-0 pe-0">
                  <!-- <i class="nav-icon fas fa-truck"></i> -->
                  <img src="/icon/Profile2.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>
                    users
                    <i class="fas fa-angle-left right"></i>
                    <!--<span class="badge badge-info right">6</span>-->
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/user-roles" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>User roles</p>
                    </a>
                  </li>
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/customers" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Customers</p>
                    </a>
                  </li>
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/experts" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Experts</p>
                    </a>
                  </li>
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/employees" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Employees</p>
                    </a>
                  </li>
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/partners" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Partners</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="#" class="nav-link pl-0 pe-0">
                  <img src="/icon/Paper.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>
                    Content
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/categories" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Categories</p>
                    </a>
                  </li>
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/expert-categories" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Expert Categories</p>
                    </a>
                  </li>
                  <li class="nav-item pt-1 pb-1">
                    <a href="/admin/subscriptions" class="nav-link pl-0 pe-0">
                      <i class="fa fa-plus nav-icon"></i>
                      <p>Subscriptions</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/Game.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Experiences</p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/TicketStar.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Ticket</p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/TicketStar.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Tasks</p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/Payment.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Payment requests</p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/Calendar.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Bookings</p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/Chart.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Analytics</p>
                </a>
              </li>
              <li class="nav-item pt-1 pb-1">
                <a href="/admin/experiences" class="nav-link pl-0 pe-0">
                  <img src="/icon/Chat.svg" class="nav-icon" style="width:20px;height:20px;">
                  <p>Feedbacks</p>
                </a>
              </li>
            </ul>
        </nav>
    </div>
</aside>

<!-- menu-is-opening menu-open -->